:root {
	color-scheme: dark;
	font-family:
		system-ui,
		-apple-system,
		BlinkMacSystemFont,
		"Segoe UI",
		Roboto,
		Oxygen,
		Ubuntu,
		Cantarell,
		"Open Sans",
		"Helvetica Neue",
		sans-serif;
	font-size: 12px !important;

	height: 100%;

	--base-rounding: 10px;
}

body.gruvbox {
	--bg0: #282828;
	--bg1: #3c3836;
	--bg2: #504945;
	--bg3: #665c54;
	--fg: #ebdbb2;
	--dark-fg: var(--fg);
	--light-fg: var(--bg1);
	--accent: #fe8019;
	--accent-dark: #d65d0e;
	--success: #b8bb26;
	--success-dark: #98971a;
	--danger: #fb4934;
}

body.tokyo-night {
	--bg0: #1a1b26;
	--bg1: #24283b;
	--bg2: #414868;
	--bg3: #565f89;
	--fg: #a9b1d6;
	--dark-fg: var(--fg);
	--light-fg: #343b58;
	--accent: #ff9e64;
	--accent-dark: #965027;
	--success: #9ece6a;
	--success-dark: #385f0d;
	--danger: #f7768e;
}

body {
	display: flex;
	margin: 0;
	height: 100%;
	flex-direction: column;

	background-color: var(--bg0);
	color: var(--fg);
}

.content {
	overflow-y: auto;
	flex: 1;

	display: flex;
}

.mainContent {
	flex: 1;

	padding-left: 24px;
	padding-right: 24px;
}

#headerBar {
	background-color: var(--bg1);
	padding: 8px;
	height: 32px;
	width: calc(100% - 16px);

	overflow-x: auto;
	overflow-y: hidden;

	text-overflow: clip;
	white-space: nowrap;
}

#headerBar-breadcrumb {
	display: flex;
	align-items: center;
	gap: 6px;

	font-size: 1.3em;
}

#headerBar-breadcrumb a {
	color: inherit;
	text-decoration: none;
}

#headerBar-breadcrumb a[aria-current=page] {
	font-weight: bold;
}

#sidebar {
	align-items: stretch;
	padding: 12px;

	border-right: 2px solid var(--bg1);
}

.cm-editor {
	flex: 1;
}

.button {
	padding: 0px 10px 0px 10px;
	height: 32px;

	cursor: pointer;
	transition: background 0.2s ease-out, filter 0.2s ease-out;
	border: none;
	border-radius: var(--base-rounding);
}

.button-small {
	padding: 6px 14px 6px 14px;
}

.button-inner {
	display: flex;
	align-items: center;
	gap: 6px;
}

.button-small .button-inner {
	display: flex;
	align-items: center;
	gap: 100px;
}

.button:disabled {
	cursor: not-allowed;
	filter: saturate(80%) brightness(50%);
	transition: none;
}

.button-primary {
	color: var(--light-fg);
	background-color: var(--accent);
}

.button-primary:not(:disabled):hover, .button-primary.button-active {
	background-color: var(--accent-dark);
}

.button-secondary {
	color: var(--fg);
	background-color: var(--bg1);
}

.button-secondary:not(:disabled):hover, .button-secondary.button-active {
	background-color: var(--bg2);
}

.button-success {
	color: var(--light-fg);
	background-color: var(--success);
}

.button-success:not(:disabled):hover, .button-success.button-active {
	background-color: var(--success-dark);
}

.button-transparent {
	color: var(--fg);
	background-color: transparent;
}

.button-transparent:not(:disabled):hover, .button-transparent.button-active {
	background-color: var(--bg3);
}

.hbox,
.vbox {
	display: flex;
	align-items: center;
	gap: 8px;
}

.hbox {
	flex-direction: row;
}

.vbox {
	flex-direction: column;
}

.notFound,
.loginGate {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translateX(-50%) translateY(-50%);
}

.avatar {
	width: 1.5em;
	height: 1.5em;
	border-radius: 100%;
}

.guilds {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
	grid-auto-rows: 80px;
	gap: 16px;
	max-width: 1000px;
}

.guildCard {
	display: flex;
	align-items: center;
	gap: 8px;
	max-width: 300px;

	text-decoration: inherit;
	color: inherit;

	background-color: var(--bg1);
	border-radius: var(--base-rounding);
	transition: background 0.2s ease-out;
}

.guildCard-title {
	font-size: 1.4em;
	font-weight: bold;
	margin-right: 8px;

	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}

.guildCard:hover {
	background-color: var(--bg2);
}

.guildCard .guildIcon {
	margin-left: 8px;
}

.guildIcon {
	border-radius: var(--base-rounding);
}
