:root {
	--bg0: hsl(0, 0%, 19%);
	--bg1: hsl(0, 0%, 22%);
	--bg2: hsl(0, 0%, 25%);
	--fg: var(--dark-fg);
	--dark-fg: hsl(0, 0%, 96%);
	--light-fg: hsl(0, 0%, 10%);
	--accent: hsl(15, 100%, 68%);
	--accent-dark: hsl(15, 44%, 50%);
	--accent-darker: hsl(15, 43%, 41%);
	--secondary: hsl(0, 0%, 35%);
	--secondary-dark: hsl(0, 0%, 29%);
	--secondary-darker: hsl(0, 0%, 25%);
	--success: hsl(128, 100%, 68%);
	--success-dark: hsl(128, 44%, 50%);
	--success-darker: hsl(128, 43%, 41%);
	--danger: #ff7979;
	color-scheme: dark;
	font-family:
		system-ui,
		-apple-system,
		BlinkMacSystemFont,
		"Segoe UI",
		Roboto,
		Oxygen,
		Ubuntu,
		Cantarell,
		"Open Sans",
		"Helvetica Neue",
		sans-serif;
	font-size: 12px !important;
}

body {
	background-color: var(--bg0);
	color: var(--fg);
	margin: 0;
}

.button {
	cursor: pointer;
	transition: background 0.2s ease-out, filter 0.2s ease-out;

	border: none;
	border-radius: 10px;
	padding: 0px 10px 0px 10px;

	height: 32px;
}

.button-small {
	padding: 6px 14px 6px 14px;
}

.button-inner {
	display: flex;
	align-items: center;
	gap: 6px;
}

.button-small .button-inner {
	display: flex;
	align-items: center;
	gap: 100px;
}

.button:disabled {
	cursor: not-allowed;
	filter: saturate(80%) brightness(50%);
	transition: none;
}

.button-transparent {
	color: var(--dark-fg);
	background-color: transparent;
}

.button-primary {
	color: var(--light-fg);
	background-color: var(--accent);
}

.button-primary:not(:disabled):hover {
	background-color: var(--accent-dark);
}

.button-primary:not(:disabled):active {
	background-color: var(--accent-darker);
}

.button-secondary,
.button-transparent:not(:disabled):hover {
	color: var(--dark-fg);
	background-color: var(--secondary);
}

.button-secondary:not(:disabled):hover,
.button-transparent:not(:disabled):active {
	background-color: var(--secondary-dark);
}

.button-secondary:not(:disabled):active {
	background-color: var(--secondary-darker);
}

.button-success {
	color: var(--light-fg);
	background-color: var(--success);
}

.button-success:not(:disabled):hover {
	background-color: var(--success-dark);
}

.button-success:not(:disabled):active {
	background-color: var(--success-darker);
}

.hbox,
.vbox {
	display: flex;
	align-items: center;
	gap: 8px;
}

.hbox {
	flex-direction: row;
}

.vbox {
	flex-direction: column;
}

.not_found,
.login_gate {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translateX(-50%) translateY(-50%);
}

#header_bar {
	background-color: var(--bg2);
	padding: 8px;
	width: calc(100% - 16px);
}

.content {
	overflow: auto;
	height: calc(100vh - 50px);
}

.avatar {
	width: 1.5em;
	height: 1.5em;
	border-radius: 100%;
}